<ion-header>
  <ion-toolbar>
    <ion-title>gamestart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-select
      [multiple]="true"
      label-placement="floating"
      label="Select Players"
      placeholder="Select Players"
      justify="space-between"
      okText="Select these players" 
      cancelText="Go Back"
      (ionChange)="updateCurrentPlayerList($event)"
      >
        <ion-select-option *ngFor="let player of playersList" [value]="player">{{player.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-button>
    Start
  </ion-button>
</ion-content>
