<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="success">
      Monopoly Deal Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">
        TEST
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="body">

    <ion-grid>
      <ion-row>
          <ion-button>
            Play Game
            <ion-icon name="caret-forward-outline">
            </ion-icon>
          </ion-button>
          <ion-button>Reset</ion-button>
        </ion-row>
    </ion-grid>
  </div>

<app-players></app-players>



  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
